
@{
    ViewData["Title"] = "Education";
}

<h1 class="text-center">Education</h1>

<ul class="list-group">
    <li class="list-group-item">2003-2008 Рязанское высшее военное командное училище связи</li>
    <li class="list-group-item">2021-н.в. Курсы Академия "Top"</li>
</ul>
