
@{
    ViewData["Title"] = "Hobby";
}

<h1 class="text-center">Hobby</h1>

<ul class="list-group">
    <li class="list-group-item">Книги</li>
    <li class="list-group-item">Музыка</li>
    <li class="list-group-item">Рыбалка</li>
</ul>
